@import "_partials/main.scss";
@import "_partials/mixins.scss";
@import "_partials/dailySchedule.scss";

#scheduleContainer{
  max-width:107em;
  min-width:18em;
  background-color:#000000;
}

#scheduleHeader{
  width:100%;
  text-align:center;
  background-color: #4a4949;
  height:PixelToRem(120);
}

#scheduleBody{
  width: 100%;
  text-align:center;

}