#scheduleContainer{
  max-width:PixelToRem(1536);
  min-width:PixelToRem(320);
  background-color:#000000;
}

#scheduleHeader{
  width:100%;
  text-align:center;
  background-color: #4a4949;
  height:PixelToRem(120);
}

#scheduleBody{
  width: 100%;
  text-align:center;
  min-height:PixelToRem(120);
}

#scheduleFooter{
  width:100%;
  text-align:center;
  background-color: #4a4949;
  height:PixelToRem(120);
}

#schedulingFormContainer{
 background-color: #959595;
}

#calendar{
  background-color: #989898;
}

.archivedEventCircleMarker
{
  border: solid PixelToRem(25) purple;
  border-radius:PixelToRem(25);
  display:inline-block;
}

.scheduledEventCircleMarker
{
  border: solid PixelToRem(25) green;
  border-radius:PixelToRem(25);
  display:inline-block;
}

.noEventCircleMarker
{
  border: solid PixelToRem(25) grey;
  border-radius:PixelToRem(25);
  display:inline-block;
}

.fc-today
{
  background-color:#d7b064a8 !important;
}

.eventMarkerLabel
{
  position:absolute;
  transform: translate(PixelToRem(-14), PixelToRem(-10));
}

.fc-left{
  margin-left:PixelToRem(20);
  margin-top:PixelToRem(10);
}