html, body
{
  width   : 100%;
  margin  : 0;
  padding : 0;
  background-color:black;
  font-size:18px;
  font-family:Consolas,Terminal,Arial;
}

body{

  overflow-y:scroll;
  overflow-x:hidden;
}


button
{
  font-size:18px;
}

a{
  color:#4CBB17;
  &:hover
  {
    color: #bb9800;
  }

  &:visited
  {
    color: #00a1bb;
  }
}

.navigationButton
{
  background-color:#4CBB17;
  color:#0d0d0d;
  border:solid 1px;
  border-radius:4.2px;
  padding:0.42em;

  &:disabled{
    color:#2f2f2f;
  }
}

.long
{
  width: 95%;
  clear: both;
  margin-left: 0.5em;
  margin-bottom: 1em;

}

.formTitle
{
  margin-left:1em;

  &.right
  {
    float:right;
    margin-right: 2em;
  }
}
.popUpMessageContainer
{
  text-align:center;
  &:hover
  {
    .popUpMessageLink
    {
      display:block;
    }
  }
}

.popUpMessageLink
{
  color:#4CBB17;
  position:relative;
  cursor:pointer;

  &:hover
  {
    text-decoration:underline;
    color:#BB9800;
  }
}

.hidden{
  display:none;
}
