
#calendar{
  background-color: #989898;
}

#schedulingFormContainer{
  background-color: #6f6c6c;
  min-height:PixelToRem(320);
  max-height: PixelToRem(650);
  overflow-y:auto;
}

#scheduleHeader
{
  padding-top: PixelToRem(10);
}

.archivedEventCircleMarker
{
  border: solid PixelToRem(25) purple;
  border-radius:PixelToRem(25);
  display:inline-block;
  cursor:pointer;
}

.scheduledEventCircleMarker
{
  border: solid PixelToRem(25) #B1C625;
  border-radius:PixelToRem(25);
  display:inline-block;
  cursor:pointer;
}

.noEventCircleMarker
{
  border: solid PixelToRem(25) #393939;
  border-radius:PixelToRem(25);
  display:inline-block;
  cursor:pointer;
}

.selectedDay
{
  background-image:url('../images/currentselection.jpg') !important;
  background-size:cover !important;
  height:PixelToRem(88);
}

.fc-today
{
  background-color:#d7b064a8 !important;

}

.eventMarkerLabel
{
  position:absolute;
  transform: translate(PixelToRem(-14), PixelToRem(-10));
  pointer-events: none;
}


.fc-left{
  margin-left:PixelToRem(20);
  margin-top:PixelToRem(10);
}

.fc-right{
  margin-right:PixelToRem(20);
  margin-top: PixelToRem(10);
}

.schedulingToolSelect{
  min-width:PixelToRem(75);
  max-width:PixelToRem(280);
  height:PixelToRem(42);
  font-size:PixelToRem(12);
  margin-right:PixelToRem(2);
}

.schedulingToolSelect:nth-of-type(4)
{
  margin-left:PixelToRem(29.5);
}

.controlLabel{
  pointer-events: none;
}

.deletePresentationEntry
{
  border: solid PixelToRem(10) red;
  border-radius:PixelToRem(10);
  display:table;
  cursor:pointer;
  color:#000000;
  margin:PixelToRem(5);
  margin-top:PixelToRem(10);
  .controlLabel {
    position: absolute;
    transform: translate(PixelToRem(-3),PixelToRem(-12));
  }
}

.modifyPresentationEntry, #editSelectionsControl
{
  border: solid PixelToRem(10) yellow;
  border-radius:PixelToRem(10);
  margin:PixelToRem(5);
  margin-top:PixelToRem(10);
  display:table;
  cursor:pointer;
  color:#000000;
  .controlLabel {
    position: absolute;
    transform: translate(PixelToRem(-6),PixelToRem(-8));
  }
}

.addPresentationEntry, #sumbitAllPresentationsControl
{
  border: solid PixelToRem(10) green;
  border-radius:PixelToRem(10);
  margin:PixelToRem(2);
  margin-top:PixelToRem(10);
  display:table;
  cursor:pointer;
  color:#000000;

  .controlLabel {
    position: absolute;
    transform: translate(PixelToRem(-6),PixelToRem(-10));
  }
}

#addEntryButton, #editSelectionsButton, #submitAllPresentationsButton{
  margin:PixelToRem(7);
  cursor: pointer;
}

#addEntryLabel{
  margin:PixelToRem(8);
  color: #8c8b8d;
  position:absolute;
  bottom:PixelToRem(1.5);
  left:PixelToRem(20);
}

.addEntry, .editSelections, .submitAllPresentations{
  cursor:pointer;
  display:block;
}



#presentationNumberSpan
{
  padding:PixelToRem(8);
}

#schedulingToolNumberOfPresentations, #schedulingToolDateLabel
{
  font-size: PixelToRem(32);
  line-height: 1.4;
}

#schedulingToolDateLabel
{
  margin-right:PixelToRem(16);
}

div[class^="presentationEntry"]{
  width:100%;
  min-height:PixelToRem(50);
  clear:both;
  display:inline-flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: initial;
  margin-bottom:PixelToRem(20);
}

#presentationEntryContainer{
  display:table;
}

.startTimeSelect
{

}

.endTimeSelect
{

}

.titleSelect{

}

.locationSelect{

}

.presenterSelect{

}

.deploymentLocationSelect{

}

button[class^="submitEventLineButton"]{
  width:PixelToRem(75);
  height:PixelToRem(42);
  border: solid PixelToRem(1) black;
  border-radius: PixelToRem(3);
  cursor: pointer;
}


#schedulingToolDateSelect{
  max-width:PixelToRem(320);
  font-size:PixelToRem(20);
}

#schedulingToolBottomFieldSet
{

}

#toolBar
{
  height:PixelToRem(40);
  width:80%;
  background-color: #202029;
  margin-top:PixelToRem(20);
  display:inline-flex;
  justify-content: center;
}

.toolbarSlot{
  border-right: solid PixelToRem(1) #4a4949;
  border-left: solid PixelToRem(1) #4a4949;
}

#headerMessageContainer
{
  border: solid PixelToRem(1) #202029;
  min-height:PixelToRem(42);
  max-height:PixelToRem(84);
  font-family:"Courier New", "SansSerif";
  font-size: PixelToRem(18);
  color: orange;
  padding:PixelToRem(10);
}